.delete-btn {
  position: absolute;

  top: 5px;
  right: 5px;
}

.user-badges {
  position: absolute;

  top: 0;
  left: 0;
  padding-right: 50px;
  width: 100%;

  .user-badge {
    padding: 2px;

    img {
      width: 30px;
    }
  }
}
