<nav class="navbar p-2 header">
    <div class="d-flex justify-content-between align-items-center w-100">
        <div class="d-flex">
            <a class="nav-link me-2"
               [routerLinkActive]="'active'"
               [routerLink]="'/home'">
                Home
            </a>
            <a class="nav-link me-2"
               [routerLinkActive]="'active'"
               [routerLink]="'/users'">
                Users
            </a>
            <a class="nav-link me-2"
               [routerLinkActive]="'active'"
               [routerLink]="'/badges'">
                Badges
            </a>
        </div>

        <div class="d-flex">
            <div appHighlight [highlightColor]="'red'" class="d-flex align-items-center">{{email}}</div>
            <button (click)="logout()" class="btn btn-secondary ms-2">
                Logout
            </button>
        </div>
    </div>
</nav>
