<div class="container my-4">
  <form [formGroup]="userCreateForm" class="p-3">
    <div class="mb-3">
        <label class="form-label">
            Name
            @if (userCreateForm | isControlRequired:'name') {
                <span>*</span>
            }
        </label>

        <div>
            <input class="form-control" formControlName="name" name="name">
        </div>

        @if (userCreateForm | isControlInvalid:'name') {
            <div>
                Value is invalid!
            </div>
        }

        @if (userCreateForm | isControlHasRequiredError:'name') {
            <div>
                Value is required!
            </div>
        }
    </div>

  <div class="mb-3">
      <label class="form-label">
          Image
          @if (userCreateForm | isControlRequired:'image') {
              <span>*</span>
          }
      </label>
      <div>
          <input class="form-control" formControlName="image" name="image">
      </div>

      @if (userCreateForm | isControlInvalid:'image') {
          <div>
              Value is invalid!
          </div>
      }
  </div>

      @if (badges) {
          @for (badge of badges; track badge) {
              <div
                  (click)="toggleSelectedBadge(badge.id)"
                  [class.selected]="selectedBadges[badge.id]"
                  class="badge m-1 user-badge">
                  {{ badge.name }}
              </div>
          }
      }

      <div class="mb-3">
          <button (click)="saveForm()"
                  [disabled]="userCreateForm.invalid"
                  class="btn btn-primary">
              Save
          </button>
      </div>
  </form>
</div>
